<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="tanngo">
    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

    <script id="tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-striped tabs-background-positive tabs-stable slide-left-right">
        <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-gear-a" icon-off="ion-gear-a" href="#/tab/settings">
          <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="About" icon-on="ion-ios7-information" icon-off="ion-ios7-information" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </script>

    <script id="home.html" type="text/ng-template">
      <ion-view title="Home">
        <ion-pane>
          <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Home</h1>
          </ion-header-bar>
          <ion-content padding='true'>
            <ion-list class="list list-inset">
              <ion-item class="item item-avatar item-text-wrap">
                <img src="img/iikatsu.png" alt="">
                <h2>Tanngo</h2>
                <p>A simple HTML5 mobile App that help you learn Japanese Kana.</p>
              </ion-item>
            </ion-list>

            <a class="button button-light button-block icon-left ion-trophy" href="#/tab/test">
              Random Test
            </a>

            <a class="button button-light button-block icon-left ion-mic-c" href="#/tab/accent">
              Accent Test
            </a>
            
            <a class="button-block button-positive button icon-left ion-wand" href="#/tab/four">
              Learn four words
            </a>
            
            <a class="button button-light button-block icon-left ion-filing" href='#/tab/manage'>
              Word Refer
            </a>
          </ion-content>
         </ion-pane>
      </ion-view>
   </script>

   <script id="settings.html" type="text/ng-template">
     <ion-view title="Settings">
     <ion-pane>
       <ion-content padding="true">
        <ion-list class="list">
          <ion-item class="item item-input item-stacked-label">
            <span class="input-label" >Remote Server Url</span>
            <input type="text" ng-value="$root.serverURL" ng-model="$root.serverURL">
          </ion-item>
        </ion-list>
       </ion-content>
     </ion-pane>
     </ion-view>
   </script>

   <script id="about.html" type="text/ng-template">
   <ion-view title="About">
      <ion-pane>
          <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">About</h1>
          </ion-header-bar>
          <ion-content padding="true">
            <ion-list class="list card" padding='true'>
                <ion-item class="item item-avatar">
                  <img src="img/kinki.png" alt="">
                  <h2>@Grzhan</h2>
                  <p>Developer &amp; SHU Student</p>
                </ion-item>
                <ion-item class="item item-body">
                  <img src="img/open_source_8.jpg" alt="" class="full-image">
                  <p>Hi, I&acute;m grzhan, thanks for using <strong>Tanngo</strong></p>
                  <p><strong>Tanngo</strong> is a simple mobile app which can help you learn Japanese kana(words),based on <strong>ionic</strong> <i class="icon ion-ionic"></i>, a HTML5 mobile UI framework. </p>
                  <p>The tanngo&acute;s most amazing feature is <strong>kana recognization</strong>(in Accent Test), tanngo can record your pronounciations, then analyze and score them. What help us implements this feature is <strong>Julius</strong>, a text by alarge vocabulary continuous speech recognizer(LVCSR), we deploy it in a external web server. The mechanism is Julius receive audio datas from tanngo and send back results to mobile-end.</p>
                  <p>Tanngo is still in Beta, so if you find any bugs or you have any suggestions, please click button below to contact us.</p>
                  <p>Mmmm...Thanks for you support, and have a nice day :)</p>
                </ion-item>
                <ion-item class="item item-footer tabs tab-secondary tabs-icon-left tabs-background-stable">
                  <a class="tab-item">
                    <i class="icon ion-thumbsup"></i>
                    Like
                  </a>
                  <a class="tab-item">
                    <i class="icon ion-paper-airplane"></i>
                    Contact
                  </a>
                  <a class="tab-item">
                    <i class="icon ion-share"></i>
                    Share
                  </a>
                </ion-item> 
            </ion-list>
          </ion-content>
        </ion-pane>
   </ion-view>
   </script>
  
  <script id="test.html" type="text/ng-template">
    <ion-view title="Random Test">
      <ion-content class="padding">
        <ion-list>
          <ion-item>
            <h2> {{words[windex].trans}} &nbsp;&nbsp; <span class="item-note">{{windex+1}} / {{words.length}} </span>
            </h2>
          </ion-item>
          <ion-item>
            <h3> 所在章节: {{words[windex].chapter}} </h3>
          </ion-item>
          <ion-item class="item-input">
            <input type="text" placeholder="Please input kana to test" ng-model="ans">
          </ion-item>
          <ion-item>
            <button class="button button-positive button-block" ng-click="check(ans)">Submit</button>
          </ion-item>
          <ion-item class="item item-button-both">
            <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="windexMinus()">Pre</button>
            <button class="button icon-right ion-chevron-right button-clear button-dark" ng-click="windexAdd()">Next</button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
  </script>

  <!-- Accent Test Panel -->
  <script id="accent.html" type="text/ng-template">
    <ion-view title="Accent Test">
      <ion-content class="padding">
        <ion-list>
          <ion-item>
            <h2> {{words[windex].kanji}} &nbsp;&nbsp; <span class="item-note">{{windex+1}} / {{words.length}} </span>
            </h2>
          </ion-item>
          <ion-item>
            <button class="button button-block icon-left" 
            ng-class="{0: 'button-calm', 1: 'button-calm', 2:'button-positive', 3: 'button-assertive'}[recordState]" ng-click="record()">   
                <i class="icon" ng-class="{0: 'ion-mic-a', 1: 'ion-loading-c', 2:'ion-loading-c'}[recordState]" ng-hide="recordState == 0"></i> 
                {{ buttonMsg }}
            </button>
          </ion-item>
          <ion-item class="item item-button-both">
            <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="windexMinus()">Pre</button>
            <button class="button icon-right ion-chevron-right button-clear button-dark" ng-click="windexAdd()">Next</button>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-view>
  </script>
  
  <!-- Accent Test Modal -->
  <script id="accent_modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-header bar-positive">
        <h1 class="title">Test Result</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
      </ion-header-bar>     
      <ion-content class="padding">
        <ion-list class="card">
          <ion-item class="item item-text-wrap item-button-right">
              <h2>{{words[windex].kanji}} &nbsp; &nbsp; <span class="item-note">{{words[windex].rome}}</span></h2> 
              <button class="button button-light" ng-click="audioPlay(words[windex])"><i class="icon ion-volume-medium"></i></button>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>Test Result : <span ng-class="{0:'assertive',1: 'balanced'}[response.wow]">{{ {0: 'Unmatched',1:'Matched'}[response.wow] }}</span></p>
          </ion-item>
          <ion-item>Detected rome word : {{ response.rome }}</ion-item>
          <ion-item>Confidence scores : {{ response.score }}</ion-item>
        </ion-list>
      </ion-content>      

    </ion-modal-view>
  </script>

   <script id="manage.html" type="text/ng-template">
    <ion-view title="Word Refer">
      <ion-content class="padding">
        <ion-list>
          <ion-item class="item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Kanji Filter" ng-model="query">
          </ion-item>
          <ion-item ng-class="{true: 'hide', false: 'show'}[isSuccess]" class="item-icon-left item-icon-right">  
               <i class="icon ion-loading-c"></i>
          </ion-item>
          <ion-item ng-repeat="word in words | filter:query" class="item-button-right">
            {{word.kanji}}
            <a href="" class="button button-light" ng-click="openModal(word)">
              <i class="icon ion-more"></i>
            </a>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-view>
   </script>
   <script id="word_modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-header bar-positive">
        <h1 class="title">Detailed</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
      </ion-header-bar>
      <ion-content class="padding">
        <ion-list class="card">
          <ion-item class="item item-text-wrap item-button-right">
              <h2>{{activeWord.kanji}}  &nbsp;&nbsp; <span class="item-note">{{activeWord.kana}}</span></h2> 
              <button class="button button-light" ng-click="audioPlay(activeWord)"><i class="icon ion-volume-medium"></i></button>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>翻译: &nbsp;&nbsp;{{activeWord.trans}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>词类: &nbsp;&nbsp;{{activeWord.wtype}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>重音: &nbsp;&nbsp;{{activeWord.accent}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>所属教材章节: &nbsp;&nbsp;{{activeWord.chapter}}</p>
          </ion-item>
        </ion-list>
      </ion-content>      
    </ion-modal-view>
   </script>

   <script id="four.html" type="text/ng-template">
     <ion-view title="Learn four words">
        <ion-content>
        <ion-slide-box show-pager="true">
          <ion-slide padding="true">
            <ion-list class="list-inset list">
              <ion-item class="item-button-right">
              <h2>{{randomWords[0].kanji}}</h2>
              <button class="button button-light" ng-click="audioPlay(randomWords[0])"><i class="icon ion-volume-medium"></i></button>
              </ion-item>
              <ion-item>
              <p>Kana : {{randomWords[0].kana}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>翻译: &nbsp;&nbsp;{{randomWords[0].trans}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>词类: &nbsp;&nbsp;{{randomWords[0].wtype}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>重音: &nbsp;&nbsp;{{randomWords[0].accent}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>所属教材章节: &nbsp;&nbsp;{{randomWords[0].chapter}}</p>
              </ion-item>
            </ion-list>
          </ion-slide>
          <ion-slide padding="true">
            <ion-list class="list-inset">
              <ion-item class="item-button-right">
              <h2>{{randomWords[1].kanji}}</h2>
              <button class="button button-light" ng-click="audioPlay(randomWords[1])"><i class="icon ion-volume-medium"></i></button>
              </ion-item>
              <ion-item>
              <p>Kana : {{randomWords[1].kana}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>翻译: &nbsp;&nbsp;{{randomWords[1].trans}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>词类: &nbsp;&nbsp;{{randomWords[1].wtype}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>重音: &nbsp;&nbsp;{{randomWords[1].accent}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>所属教材章节: &nbsp;&nbsp;{{randomWords[1].chapter}}</p>
              </ion-item>

            </ion-list>
          </ion-slide>
          <ion-slide padding="true">
            <ion-list class="list-inset">
              <ion-item class="item-button-right">
              <h2>{{randomWords[2].kanji}}</h2>
              <button class="button button-light" ng-click="audioPlay(randomWords[2])"><i class="icon ion-volume-medium"></i></button>
              </ion-item>
              <ion-item>
              <p>Kana : {{randomWords[2].kana}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>翻译: &nbsp;&nbsp;{{randomWords[2].trans}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>词类: &nbsp;&nbsp;{{randomWords[2].wtype}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>重音: &nbsp;&nbsp;{{randomWords[2].accent}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>所属教材章节: &nbsp;&nbsp;{{randomWords[2].chapter}}</p>
              </ion-item>
            </ion-list>
          </ion-slide>

          <ion-slide padding="true">
            <ion-list class="list-inset">
              <ion-item class="item-button-right">
              <h2>{{randomWords[3].kanji}}</h2>
              <button class="button button-light" ng-click="audioPlay(randomWords[3])"><i class="icon ion-volume-medium"></i></button>
              </ion-item>
              <ion-item>
              <p>Kana : {{randomWords[3].kana}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>翻译: &nbsp;&nbsp;{{randomWords[3].trans}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>词类: &nbsp;&nbsp;{{randomWords[3].wtype}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>重音: &nbsp;&nbsp;{{randomWords[3].accent}}</p>
              </ion-item>
              <ion-item class="item item-text-wrap">
                  <p>所属教材章节: &nbsp;&nbsp;{{randomWords[3].chapter}}</p>
              </ion-item>

            </ion-list>
          </ion-slide>


        </ion-slide-box>
        </ion-content>
     </ion-view>
   </script>

   <script id="test_modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-header bar-positive">
        <h1 class="title">Test Result</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
      </ion-header-bar>
      <ion-content class="padding">
        <ion-list class="card">
          <ion-item><strong ng-class="{'BINGO':'balanced', 'WRONG':'assertive'}[state]">{{state}}</strong></ion-item>
          <ion-item class="item item-text-wrap item-button-right">
              <h2>{{activeWord.kanji}}  &nbsp;&nbsp; <span class="item-note">{{activeWord.kana}}</span></h2> 
              <button class="button button-light" ng-click="audioPlay(activeWord)"><i class="icon ion-volume-medium"></i></button>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>翻译: &nbsp;&nbsp;{{activeWord.trans}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>词类: &nbsp;&nbsp;{{activeWord.wtype}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>重音: &nbsp;&nbsp;{{activeWord.accent}}</p>
          </ion-item>
          <ion-item class="item item-text-wrap">
              <p>所属教材章节: &nbsp;&nbsp;{{activeWord.chapter}}</p>
          </ion-item>
        </ion-list>
      </ion-content>      
    </ion-modal-view>
   </script>   
  </body>
</html>
